.head {
    height: 120px;
    width: 100%;

    >.container {
        width: 100%;
        height: 120px;

        >.img {
            background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg?w=5120&h=240) no-repeat;
            // position: absolute;
            top: 0;
            width: 100%;
            height: 120px;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: auto 120px;
            // text-indent: -9999px;
        }
    }
}