.header {
    height: 40px;
    width: 100%;
    background-color: #333;
  
    > .container {
      cursor: pointer;

      color: #fff;
      height: 100%;
      position: relative;
  
      > ul {
        float: left;
        height: 100%;
        width: 794px;
        
  
        > li {
          &:hover{ color: #ffb3ff; }

          float: left;
          font-size: 12px;
          line-height: 40px;
          margin-right: 2px;
          color: #A7A7A7;
          
        }
        >.sanjiaoli{
        position: relative;
          >.sanjiaoapp>.sanjiao{
            position: absolute;
            top: 33px;
            left: 13px;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid white;
            display: none;
          }
          .sanjiaoimg{
            position: absolute;
            top: 40px;
            left: -40px;
            z-index: 999;
            width: 90px;
            height: 120px;
            padding: 20px;
            padding-bottom:0px;
            box-shadow: 0 1px 5px #aaa;
            background: white;
            // height: 250px;
            display: none;
            >img{
              width: 90px;
              height: 90px;
            }
            >.appzi{
              font-size: 14px;
              color: #333;
            text-align: center;
            margin-top: -20px;

            }
          }
        }
      }
  
      > ol {
        float: right;
        width: 143px;
        height: 100%;
        position: absolute;
        left: 850px;
        
        > li {
          &:hover{ color: #ffb3ff; }

          float: left;
          font-size: 12px;
          line-height: 40px;
          margin-right: 5px;
          color: #A7A7A7;
          
        }
  
      }
    }
  }