.toubu{
    width: 100%;
    height: 120px;
    cursor :pointer;
    background:url(../images/xiaomifirst.png) no-repeat;
    background-size: cover;
    .xiaomifirst{
        width: 1226px;
        margin: 0 auto;
        height: 120px;
      }
}
